body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

.main_color {
    background-color: rgb(88, 130, 198);
}

.secondary_color {
    background-color: rgb(142, 161, 193);
}

.background {
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}